<div class="panel panel-default">
  <div class="panel-heading">Cadastrar nova reserva</div>
  <div class="panel-body">
    <form name="formularioReserva">
      <div class="form-group">
        <label>Local/Filiais</label>
        <select class="form-control" ng-model="reserva.local" name="local"
            ng-options="local for local in locais" required>
          <option selected="selected" value="">-- SELECIONE --</option>
        </select>
      </div>

      <div class="form-group">
        <label>Carro</label>
        <select class="form-control" ng-model="reserva.carro" name="carro" ng-options="carro for carro in carros" required>
          <option selected="selected" value="">-- SELECIONE --</option>
        </select>
      </div>

      <div class="form-group">
        <label>Data inicial</label>
        <input type="datetime-local" class="form-control" ng-model="reserva.dataInicio" name="dataInicio" placeholder="Selecione a data inicial" required>
      </div>

      <div class="form-group">
        <label>Data final</label>
        <input type="datetime-local" class="form-control" ng-model="reserva.dataFim"
            name="dataFim" placeholder="Selecione a data final" required>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="reserva.cafe" name="cafe">Com café
        </label>
      </div>

      <div class="form-group" ng-if="reserva.cafe">
        <label>Quantidade de pessoasl para o café</label>
        <input type="number" class="form-control" ng-model="reserva.quantidadePessoas"
        name="quantidadePessoas" placeholder="Informe a quandidade de pessoas" required>
      </div>

      <div class="form-group">
        <label>Responsável</label>
        <input type="text" class="form-control" ng-model="reserva.responsavel"
        name="responsavel" placeholder="Informe o responsável" required>
      </div>

      <div class="form-group">
        <label>Descrição</label>
        <textarea class="form-control" ng-model="reserva.descricao" name="descricao"
        placeholder="Descreva sobre a reserva"></textarea>
      </div>

      <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
      <button type="submit" class="btn btn-primary" ng-click="salvar(formularioReserva.$valid)">Salvar</button>
    </form>
  </div>
</div>
