<!-- botão cadstrar -->
<button class="btn btn-primary btn-block" ng-click="cadastrar()">Cadstrar Reserva</button>

<!-- botão excluir -->
<button class="btn btn-danger btn-block">Excluir todos</button>

<div class="panel panel-default">
  <div class="panel-heading">
    Listagem de reservas
  </div>
  <div class="panel-body" ng-if="!reservas.length">Não existem reservas cadstradas</div>

  <ul class="list-group visible-xs" ng-if=reservas.length>
    <li class="list-group-item" ng-repeat="reserva in reservas">
      <div class="row">
        <div class="col-xs-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" />
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Local/Filiais
        </div>
        <div class="col-xs-6">
          {{reserva.local.local}}/{{reserva.local.filial}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Carro
        </div>
        <div class="col-xs-6">
          {{reserva.carro}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Início
        </div>
        <div class="col-xs-6">
         {{reserva.dataInicio}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Fim
        </div>
        <div class="col-xs-6">
          {{reserva.dataFim}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Responsável
        </div>
        <div class="col-xs-6">
          {{reserva.responsavel}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Descrição
        </div>
        <div class="col-xs-6">
          {{reserva.descricao}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-warning btn-block" ng-click="editar($index)">Editar</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-danger btn-block" ng-click="abreModalExclusao(reserva, $index)">Excluir</button>
        </div>
      </div>
    </li>
  </ul>

  <table class="table .table-hover hidden-xs" ng-if=reservas.length>
    <thead>
      <tr>
        <th></th>
        <th class="text-center">Carro</th>
        <th class="text-center">Local/Filiais</th>
        <th class="text-center">Início</th>
        <th class="text-center">Fim</th>
        <th class="text-center">Responsável</th>
        <th class="text-center">Descrição</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reserva in reservas">
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" />
            </label>
          </div>
        </td>
        <td>{{reserva.local.local}}/{{reserva.local.filial}}</td>
        <td>{{reserva.carro}}</td>
        <td>{{reserva.dataInicio}}</td>
        <td>{{reserva.dataFim}}</td>
        <td>{{reserva.responsavel}}</td>
        <td>{{reserva.descricao}}</td>
        <td class="text-center">
          <button class="btn btn-warning" ng-click="editar($index)">Editar</button>
          <button class="btn btn-danger" ng-click="abreModalExclusao(reserva, $index)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="confirmaExclusao" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente excluir a reserva: {{ reserva.local }} - {{ reserva.carro }} - {{ reserva.dataInicio }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="excluir()">Excluir</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
